.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a:not([class]) {
      color: currentColor;
      position: relative;
      display: inline-block;
      text-underline-offset: 0.2em;
      text-decoration: underline;
      word-break: break-word;

      @include apply-utility('leading', 'tight');

      &:hover {
        text-decoration-style: wavy;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}
