.nav {
  &__list {
    // Add padding and neg margin to allow focus style visibility
    padding: 0.5rem;
    margin: -0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }
  }

  &__item {
    padding: get-size(300) 0;
    flex-shrink: 0;

    a {
      color: currentColor;

      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}

[aria-label='Social links'] {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  & ul {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;

    @media (width > 390px), (orientation: landscape) {
      grid-template-columns: repeat(10, 24px);
    }
  }
}

.nav[aria-label^='Links for live stream guest'] > ul {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0 !important; // TODO: Sort out specificity
  gap: 0.5rem;
}
