.post {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  word-break: break-word;

  img {
    display: block;
    margin: 0 auto;
    border-radius: 0.25rem;
  }

  img.headshot {
    width: 25%; // TODO fix this
    border-radius: 50%;
    shape-outside: ellipse(50% 50%);
    margin-right: 1rem;
    float: left;
    margin-top: 2rem;
  }

  .intro__meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .boost-link,
  .comment-link {
    color: var(--color-theme-highlight);
    position: relative;
    display: inline-block;
    background: var(--color-dark);
    padding: 0.2em 0.4em 0.3em 0.4em;
    text-decoration: none;
    word-break: break-word;

    @include apply-utility('leading', 'tight');

    &:hover {
      text-decoration: underline;
    }
  }

  .comment-link {
    background: var(--color-theme-highlight);
    color: var(--color-dark);
  }

  &__body {
    --flow-space: #{get-size(800)};

    /**
     * Generic HTML styles
     */
    h2 + *,
    h3 + * {
      --flow-space: #{get-size(500)};
    }

    h2,
    h3 {
      position: relative;
      /*display: flex;*/

      @include apply-utility('leading', 'tight');
    }

    a:not([class]),
    .liquid-comment__link {
      color: currentColor;
      position: relative;
      display: inline-block;
      text-underline-offset: 0.2em;
      text-decoration: underline;
      word-break: break-word;

      @include apply-utility('leading', 'tight');

      &:hover {
        text-decoration-style: wavy;
      }
    }

    .ltag__link a:not([class]) {
      text-decoration: none;

      &:hover {
        text-decoration: none;

        h2 {
          text-decoration: underline;
        }
      }
    }

    code {
      font-size: 1.2em;
      color: var(--color-theme-primary);
      font-weight: 600;
      margin-left: 0.01ch;
      margin-right: 0.01ch;
    }

    pre > code {
      margin-right: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    blockquote {
      border-left: 0.4em solid var(--color-theme-primary-glare);
      margin-left: 0;
      padding-left: get-size(500);
      font-style: italic;
      font-size: get-size(600);

      p {
        opacity: 0.85;
        padding: get-size(500) 0;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: get-size(800);

      & > li + li {
        margin-top: get-size(300);
      }
    }

    figure,
    figure + *,
    pre > code,
    .video-player,
    .video-player + *,
    video {
      --flow-space: #{get-size('max')};
    }

    figure,
    pre > code,
    .video-player,
    video {
      width: 100vw;
      max-width: map-get($metrics, 'wrap-max-width');
      margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
      transform: translateX(
        -50%
      ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
      position: relative;
    }

    figure img,
    pre > code,
    .video-player {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      max-width: map-get($metrics, 'wrap-inner-max-width');
      margin: 0.5em auto 0 auto;
      padding: 0 get-size(500);
    }

    pre > code {
      display: block;
      background: var(--color-dark);
      padding: get-size(700);
      font-size: get-size(500);
    }

    // These classes is related to dev.to embed that was converted from an iframe
    .ltag__tag,
    .ltag__link,
    .ltag__user,
    .liquid-comment {
      color: var(--color-dark);
      background-color: var(--color-theme-highlight);
      padding: 1em;
      border-radius: 0.25em;

      a:focus {
        outline: 1px solid var(--color-dark);
      }
    }

    .ltag__user {
      &__pic {
        width: 150px;
        height: 150px;
        margin-bottom: 1em;

        @include media-query('md') {
          margin-left: 1em;
          margin-bottom: none;
        }

        & img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }

      &__content {
        @include media-query('md') {
          margin-left: 1em;
        }

        a:focus {
          outline: 1px solid var(--color-dark);
        }
      }

      &__summary {
        margin-top: 1em;
      }
    }

    .ltag__link {
      &__link {
        margin-right: none;
        margin-bottom: 1em;

        @include media-query('md') {
          margin-right: 1em;
          margin-bottom: none;
        }
      }

      &__pic {
        width: 150px;
        height: 150px;

        & img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }

      &__title {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }

      &__taglist {
        margin-top: 0.5rem;
        display: flex;
        gap: 1rem;
      }
    }

    .liquid-comment {
      &__link {
        margin-bottom: 1em;
      }

      .profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 50px;

        @include media-query('md') {
          margin-right: 1em;
        }
      }
    }

    .devto-embed-wrapper {
      display: flex;
      place-items: center;
      background-color: var(--color-light);
      padding: 1em;
      border-radius: 0.25em;

      iframe {
        width: 100%;
        border: none;
        height: auto;
      }
    }
  }

  &__footer {
    background: var(--color-theme-highlight);
    @include stephify;

    h2 {
      flex-shrink: 0;
      margin-right: get-size('base');
      color: var(--color-dark);
    }

    h2 a {
      @extend %visually-hidden;
    }

    a {
      background: var(--color-bg);
      padding: 0.4em 0.6em;
    }

    .tag {
      clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);

      a {
        padding-right: 0.9em;
        text-decoration: none;

        &:focus,
        &:hover {
          color: var(--color-bg);
          background: var(--color-text);
          outline: none;
        }
      }
    }
  }

  // For the social card in the newsletter pages.
  .news-social-card {
    width: 100%;
    background: #fff;
    border: 1px #ced3d9 solid;
    border-radius: 5px;
    margin-top: 1em;
    overflow: auto;
    margin-bottom: 1em;

    .news-social-card-text {
      color: #393f48;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
