.site-foot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  color: var(--color-text);
  border-top: 1px solid var(--color-stroke);
  @include stephify;

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}

.netlify-footer img {
  content: url('https://www.netlify.com/img/global/badges/netlify-dark.svg');
}

html[data-user-color-scheme='dark'] .netlify-footer img {
  content: url('https://www.netlify.com/img/global/badges/netlify-light.svg');
}

the-claw-webring-widget {
  display: flex;
  justify-content: center;
}
