.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  color: var(--color-text);
  border-top: 1px solid var(--color-stroke);
  @include stephify;

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
