{% if talks.length %}
  <section class="post-list pad-top-700">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Latest Talks</h2>
      <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for talk in talks %}
          <li class="post-list__item">
            <h3 class="font-base leading-tight text-600 weight-mid">
              <a href="{{talk.url}}" class="post-list__link" rel="bookmark">{{talk.data.title}}</a>
            </h3>
            <time datetime="{{ talk.date | w3DateFilter }}" class="text-500 gap-top-300 weight-mid">{{ talk.date | dateFilter }}</time>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}