<li class="news post-list__item">
  <h3 class="font-base leading-tight text-600 weight-mid">
    <a href="{{latestNewsletter.url}}" class="post-list__link" rel="bookmark">{{latestNewsletter.data.title}}</a>
  </h3>
  <time datetime="{{ latestNewsletter.date | w3DateFilter }}" class="text-500 gap-top-300 weight-mid">{{ latestNewsletter.date | dateFilter }}</time>
</li>