<section class="post-list pad-top-700">
  <div class="inner-wrapper sf-flow">
    <ol class="post-list__items sf-flow pad-top-300">
      <li class="post-list__item">
        replace-with-stream-guest
      </li>
    </ol>
  </div>
</section>