<div class="box-flex space-center pad-top-300">
  <p class="weight-bold">Check out my&nbsp;
    <a href=" /pages/stream-schedule">streaming schedule</a>
    &nbsp;to&nbsp;
    <em>see when I'm live</em>!</p>
</div>