<div class="box-flex flex-dir-col align-center">
  <p class="text-500 gap-top-300 weight-mid">More VS Code Tips at&nbsp;<a rel="me" href="https://hachyderm.io/@vscodetips" class="post-list__link">
      hachyderm.io/@vscodetips</a>
  </p>
</div>