{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}
{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}
{% if excerpt %}
  {% set pageDesc = excerpt %}
{% endif %}
<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>
<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>
{% if site.twitterHandle %}
  <meta name="twitter:creator" content="@{{ site.twitterHandle | replace('@', '') }}"/>
{% endif %}
{% if pageDesc %}
  <meta name="description" content="{{ pageDesc }}"/>
  <meta name="twitter:description" content="{{ pageDesc }}"/>
  <meta property="og:description" content="{{ pageDesc }}"/>
{% endif %}
<meta property="og:image" content="{% socialImage title, pageDesc %}"/>
<meta name="twitter:image" content="{% socialImage title, pageDesc %}"/>
<meta property="og:image:alt" content="Page image for the page {{ title }}"/>
<meta name="twitter:image:alt" content="Page image for the page {{ title }}"/>
<meta
  name="twitter:card" content="summary_large_image">
  <!-- extra metadata for Slack unfurls -->
  <meta name="twitter:label1" content="Written by"/>
  <meta name="twitter:data1" content="{{ site.authorName }}"/>
  <meta name="twitter:label2" content="Reading time"/>
  <meta name="twitter:data2" content="{{ reading_time_minutes }} minute read"/>
  {% if site.paymentPointer %}
    <meta name="monetization" content="{{ site.paymentPointer }}"/>
  {% endif %}