<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-700 pad-bottom-700 ">
  <div class="wrapper">
    <a href="/" class="[ site-head__site-name ] [ leading-tight ]">
      <span class="visually-hidden">{{ site.name }} - Home</span>
      <span class="[ site-head__site-name ] [ text-600 ]" aria-hidden="true">{{ site.name }}</span>
    </a>
    {% set ariaLabel = 'navigation' %}
    {% include "partials/components/nav.njk" %}
  </div>
</header>
