<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <nav aria-label="footer-navigation">
    <ul class="wrapper box-flex flex-dir-col align-center gap-300">
      <li class="site-foot__credit pad-top-900">
        <a href="https://www.netlify.com" class="netlify-footer">
          <img alt="Deploys by Netlify"/>
        </a>
      </li>
      <li class="[ site-foot__credit ]">
        Powered by a tweaked version of the
        <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit</a>.
      </li>
      <li class="[ site-foot__credit ]">
        <a href="/coc">iamdeveloper.com Code of Conduct</a>
      </li>
    </ul>
  </nav>
</footer>