<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module"></script>
  <the-claw-webring-widget>
    <div style="color: inherit; font-family: system-ui; padding: 1rem; font-size: 1rem;">
      <div style="display: grid; gap: 0.5rem 1rem; align-items: center; margin-bottom: 1rem; justify-content: flex-start;
          grid-template-areas: 'image title' 'image view';">
        <img
          src="https://the-claw-webring.netlify.app/img/theclaw.png"
          alt="The Claw Webring"
          style="grid-area: image; height: 4rem; transform: rotate(-8deg);"/>
        <h2 style="grid-area: title; font-size: 1.4rem; margin: 0;">The Claw Webring</h2>
        <a href="https://github.com/whitep4nth3r/the-claw-webring" style="grid-area: view; margin: 0; color: inherit;">
          View on GitHub
        </a>
      </div>
    </div>
  </the-claw-webring-widget>
  <nav aria-label="footer-navigation">
    <ul class="wrapper box-flex flex-dir-col align-center gap-300">
      <li class="site-foot__credit pad-top-900">
        <a href="https://www.netlify.com" class="netlify-footer">
          <img alt="Deploys by Netlify"/>
        </a>
      </li>
      <li class="[ site-foot__credit ]">
        Powered by a tweaked version of the
        <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit</a>.
      </li>
      <li class="[ site-foot__credit ]">
        <a href="/coc">iamdeveloper.com Code of Conduct</a>
      </li>
    </ul>
  </nav>
</footer>