{% extends 'layouts/base.njk' %}
{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
{{ content | safe }}
{% endset %}
{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}
{% set talks = collections.latestTalks %}
{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}
{% set latestNewsletter = collections.latestNewsletter %}
{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/live-stream-home-page.njk" %}
    {% include "partials/components/latest-content.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}