{% extends 'layouts/base.njk' %}
{# Intro content #}
{% set introHeading = title %}
{% set canonicalUrl = canonical_url %}
{% set canonicalText = canonicalText %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
</p>
{% endset %}
{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <aside class="[ post__body ] [ inner-wrapper ] [ pad-top-900 text-500 ]">
        <nav>
          <ul class="nav__list box-flex align-center flex-wrap">
            <li>
              <a href="/pages/newsletter-archives">Newsletter archives</a>
            </li>
            <li>
              <a href="/pages/newsletter">Subscribe</a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-100 {{ 'pad-bottom-900' if not
          site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
          {% if canonicalUrl %}
          <span>Originally published at <a href="{{ canonicalUrl }}">{{ canonicalText }}</a></span>
          {% endif %}
        {{ content | safe }}
      </div>
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center flex-wrap ]">
              <h2 class="font-base text-600 weight-mid">tags</h2>
              <ul class="[ nav__list ] [ box-flex align-center pad-left-400 flex-wrap ] [ p-category ]">
                {% for item in tags %}
                  <li class="nav__item tag">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}
{{ content | safe }}