/**
 * Animations
 * ----------------------------------------------------------------------------
 */
@keyframes fadeInDown {
    from {
        opacity: 0;

        transform: translateY(-20px);
    }
    to {
        opacity: 1;

        transform: translateY(0);
    }
}

.site-content {
    animation-duration: 0.7s;

    animation-fill-mode: both;

    animation-name: fadeInDown;
}
