/**
 * Palettes
 * ----------------------------------------------------------------------------
 */
.palette-blue {
    a {
        border-color: _palette(accent-blue);

        &:hover {
            border-color: currentColor;
        }
    }

    button,
    input[type='submit'],
    input[type='button'],
    input[type='reset'],
    a.button {
        background: 0;
        border-color: _palette(accent-blue);
        color: _palette(secondary);
    }

    .underline {
        &:after {
            border-color: _palette(accent-blue);
        }
    }

    .profile {
        .avatar {
            border-color: _palette(accent-blue);
            box-shadow: 0 0 1px 7px rgba(_palette(accent-blue), 0.2);

            @media only screen and (min-width: 801px) {
                box-shadow: 0 0 1px 11px rgba(_palette(accent-blue), 0.2);
            }
        }

        .headshot {
            display: inline-block;
            border: 10px solid transparent;
            border-radius: 100%;
        }

        .headshot:focus {
            border-color: rgba(_palette(accent-yellow), 0.75);
        }
    }

    .menu-item a:hover,
    .current-menu-item a {
        color: _palette(accent-blue);
    }

    .social-links {
        a {
            border-color: _palette(border);
            border-left-color: transparent;
            border-right-color: transparent;

            &:hover {
                background: _palette(accent-blue);
                border-top-color: _palette(accent-blue);
                border-bottom-color: _palette(accent-blue);
                box-shadow: 0 0 1px 5px rgba(_palette(accent-blue), 0.2);
            }

            &:focus {
                outline: none;
                background: rgba(_palette(accent-yellow), 0.75);
                border-top-color: rgba(_palette(accent-yellow), 0.75);
                border-bottom-color: rgba(_palette(accent-yellow), 0.75);
                color: #000;
                box-shadow: 0 0 1px 5px rgba(_palette(accent-yellow), 0.2);
            }
        }
    }

    .site-main a {
        &:focus:not(.post-inside) {
            color: _palette(accent-blue);
        }

        &.post-inside:focus,
        &.post-inside:active {
            background: 0;
            border-width: 3px;
            border-color: _palette(accent-blue);
        }
    }

    .post-title {
        a:hover {
            color: _palette(accent-blue);
        }
    }

    .menu {
        & a:focus {
            color: rgba(_palette(accent-yellow), 0.75);
        }
    }
}
