---
permalink: '/newsletter.rss'
excludeFromSitemap: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.newsletterName }}</title>
  <subtitle></subtitle>
  <link href="{{ site.url }}{{ permalink }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  {% if collections.newsletters|length %}
    <updated>{{ collections.newsletters | rssLastUpdatedDate }}</updated>
  {% endif %}
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.authorName }}</name>
    <email>{{ site.authorEmail }}</email>
  </author>
  {% for issue in collections.newsletters %}
    {% set absoluteIssueUrl %}{{ site.url }}{{ issue.url | url }}{% endset %}
    <entry>
      <title>{{ issue.data.title }}</title>
      <link href="{{ absoluteIssueUrl }}"/>
      <updated>{{ issue.date | rssDate }}</updated>
      <id>{{ absoluteIssueUrl }}</id>
      <content type="html">
        <![CDATA[
      {{ issue.templateContent | safe }}
    ]]>
      </content>
    </entry>
  {% endfor %}
</feed>